:root {
    --margin-top: 10px;
    --max-height: max(200px, 30%);
    --main-form-width:  min(400px, 80%);
}

html, body {
    min-height: 100%;
    margin: 0;
    font-family:  "Open Sans", sans-serif;
    color: white;
}

body {
    background-image: url("space-wallpaper.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-start;
}

.picture-banner-container {
    background-image: url("flash-gif.gif");
    color: white;
    width: 20%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo-container {
    background-image: url("into-the-crypto-version-logo-full-dark.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 40%;
    margin: 5%;
    position: relative;
    display: flex;
}

.form-page-side {
    width: 80%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    align-content: flex-start;
}

.dummy-text {
 
    color: white;
    max-width: min(var(--main-form-width));
    max-height: 20%;
    padding-left: 20%;
    padding-top: min(5%);
    font-weight: 500;
}

.italics {
    font-style: italic;
}

.form-container {
    border: 3px solid black;
    margin: 10%;
    margin-top: 5%;
    width: max(500px, 38%);
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 45px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 40px 4px #fc5310;
    border-radius: 10px;
    display: flex;
    max-height: max(233px);
    flex-direction: column;
    font-size: 0.8rem;
    align-items: flex-start;
    border: 1px white solid;
}

.main-form {
    display: flex;
    max-width: min(var(--main-form-width));
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: var(--max-height);
    row-gap: 20px;
    column-gap: 3px;
}

.button-container {
    
    display: flex;
    justify-content: center;
    padding-top: 15px;
    min-width: var(--main-form-width);
    margin: 3px;
}

button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 0px 1px 0px 0px, 0px 2px 0px 0px, 0px 3px 0px 0px, 0px 4px 0px 0px #fc5310, 0px 5px 0px 0px #fc5310;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    button {
        padding: 0.25em 0.75em;
    }
}
